<!-- eventEdit.html -->
<h1>이벤트 수정</h1>
<form action="/events/edit/{{ event._id }}" method="POST">
    <!-- 수정할 필드들 -->
    <!-- 시작시간, 종료시간,날짜 변경 추가 -->
    <input type="text" name="title" value="{{ event.title }}">
    <input type="text" name="description" value="{{ event.description }}">
    <!-- 기타 필드들 추가 -->
    

    <button type="submit">수정</button>
</form>

<!-- 삭제 버튼 -->
<form action="/events/delete/{{ event._id }}" method="POST" style="margin-top: 20px;">
    <button type="submit" class="btn btn-danger">삭제</button>
</form>
